<span class="<%= badge_classes %>">
  <% if show_icon %>
    <span class="status-badge__icon"><%= status_icon(status) %></span>
  <% end %>
  <span class="status-badge__text"><%= badge_text %></span>
</span>
