<%# filepath: /Users/mezbah/microstartup/infolily_organizer/gems/solidstats/previews/status_badge_component_preview/with_icons.html.erb %>
<div style="display: flex; gap: 1rem; flex-wrap: wrap; padding: 1rem;">
  <% badges.each do |badge_config| %>
    <%= render(Solidstats::Ui::StatusBadgeComponent.new(**badge_config)) %>
  <% end %>
</div>
